data/templates/scribus/fonts/Bembo-Regular.otf
data/templates/scribus/fonts/BemboStd-Bold.otf
data/templates/scribus/fonts/Bembo-BoldItalic.otf
data/templates/scribus/fonts/Bembo-BoldItalic.otf
data/templates/scribus/fonts/Bembo-Italic.ttf

.vscode

*.pyc

old_stuff

data/export

data/credentials
!data/credentials/README.md
iPray.code-workspace
exports
