data\templates\scribus\fonts\Bembo-Regular.otf
data\templates\scribus\fonts\BemboStd-Bold.otf
data\templates\scribus\fonts\Bembo-BoldItalic.otf
data\templates\scribus\fonts\Bembo-BoldItalic.otf

src\credentials\ipray-250821-3dea443b643f.json
src\credentials\ipray-250821-7aa45345eb40.json

iPray.code-workspace