<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{day_tittle}}</title> <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css" type="text/css" />
</head>
<body>
    <div id="contentDay_{{page_number}}">
        <div class="space" ></div>
        <div class="superday">{{day_string}}</div>
        <div><div class="dayTittle" >{{day_of_the_week}}</div>
        <div class="saintTittle">{{saint}}</div>
        <div class="quote">{{citation}}</div>
        <div class="gospel"><i>{{gospel_long}}</i></div>
        <div>{{subcontent}}</div>
    </div>
</body>
</html>